.first{
    width: 400px;
    height: auto;
    background-color: brown;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 70px;
    /* margin-left: 20%; */

}
input{
    margin-left: 10px;
    margin-top: 10px;
}
#submit{
    margin-top: 20px;
}